                                /*     body     */

@font-face {
  font-family: "Archive";
  src: url("/fonts/Archive.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archive";
  src: url("/fonts/ArchiveBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Archive";
  src: url("/fonts/ArchiveItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

body {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  margin: auto;
}

* { font-family: 'Archive', sans-serif; }
section { margin: 0.75rem auto 0; max-width: 1500px; }
#intro { margin-left: 10%; margin-right: 10%; }
a, a:hover { text-decoration: none; }
button a { color: inherit; }
.services:hover { text-decoration: underline; }

h1 {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  font-size: 32px;
}

h2 {
  color: #075AAB;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 28px;
}

h3 {
  margin-top: 1.0rem;
  margin-bottom: 0.5rem;
}

h4 {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

h5 {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

p { margin: 0.2rem 0; }

.bullets {
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 10px;
}

hr { width: 50%; margin: 1.5rem auto 0; }

.button {
  color: white;
  background-color: #059669;
  border: none;
  display: inline-block;
  border-radius: 30px;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 1rem auto;
  cursor: default;
  transition: 0.3s ease-in-out;
}
.button:hover { background-color: #047857; }

                                /*     flexbox     */

.row { /* flex-container */
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center; /* horizontal */
  padding: 8px;
  gap: 2rem;
}

.column { /* flex-item */
  min-width: 300px;
  max-width: 440px;
  border-radius: 69px;
  transition: 0.3s ease-in-out;
}
#education .column { flex-basis: 310px; }
.column:hover { background-color: #E5E7EB; transform: translateY(-5px); }

.item { padding: 10px 20px 20px; }


                                /*     images     */

.section-header-icon {
  margin-top: 1.5rem;
  margin-bottom: 0;
  height: 75px;
  width: 75px;
}

.logo {
  margin-top: 1.0rem;
  margin-bottom: 0;
  height: 60px;
  width: 60px;
}

.skill-icon { 
  margin: 1.0rem 0.1rem 0;
  font-size: 50px;
}
#java { font-size: 52px; }
#canva { margin-left: 0.3rem; }

                                /*     fontawesome     */

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 10px;
  transition: 0.3s ease-in-out;
}

footer > .fa {
  padding: 15px;
  width: 25px;
  color: white;
  font-size: 25px;
  margin: 5px;
}
footer { box-sizing: border-box; width: 100%; background-color: #F0F0F0; padding: 0.5rem; }
footer > .fa:hover { margin: 5px 10px; transform: scale(1.05); }
/* Default box-sizing: content-box; Width and height apply only to the content. Padding and border are added on top of that
box-sizing: border-box; Padding and borders are also included. */

.fa-linkedin { background: #007bb5; }
.fa-instagram { background: #125688; }
.fa-github { background: black; }
.fa-envelope { background: #85b5ff; }

.navbar .fa { padding: 0; }
.fa-trophy, .fa-trophy:hover {
  font-size: 16px;
  margin: 0.2rem 0 0;
  padding: 0;
}

                                /*     appendix     */

.alert {
  display: none;
  padding: 20px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover { color: black; }

html { scroll-behavior: smooth; }
.navbar {
  display: none; /* originally set to flex */
  gap: 0;
  flex-direction: column;
  align-items: center;
  /* position */
  position: fixed;
  top: 10px;
  right: 10px;
  /* general */
  background-color: #333;
  overflow: hidden;
  opacity: 0.4;
  border-radius: 25px;
}

.navbar a {
  color: #f2f2f2;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 50px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a:nth-child(4) i { transform: scale(0.75, 1); /* Shrinks width, keeps height */  transform:translateX(-2px); }
/* The selector .navbar a:nth-child(3) works as follows:
.navbar → Selects the element with class navbar.
a:nth-child(3) → Targets the third <a> tag that is a direct child of .navbar.
*/
